@model IntelRobotics.Models.KontaktForm
@{
    ViewData["Title"] = "Create";
}
@{
    var id = ViewData["robot"] as Robot;
    var admin = ViewData["Admindata"] as List<KontaktForm>;
    var name = ViewData["Name"];
    Robot robot = new Robot();
    robot.Robotid = Guid.Parse("1f46ed45-f49c-4dca-83f6-d956c9344c65");
    if (id==null)
    {
        id = robot;
    }
}

<h4>KontaktForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                @if(id is not null||id.Robotid!=robot.Robotid){
                    <label>@name</label>
                }
            </div>
            @if (id.Robotid != robot.Robotid)
            {
                <img src="@("~/image/"+id.ImageName)" style="margin-left:32%" asp-append-version="true" width="250px" height="250px"/>   
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Robotid" hidden value="@id.Robotid" class="form-control/>
                </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regarding" class="control-label"></label>
                <input asp-for="Regarding" class="form-control" />
                <span asp-validation-for="Regarding" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">

                <a class="btn btn-danger p-2" style="height:38px; text-align:center; bottom:5px" asp-controller="home" asp-action="Index">Anuller</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
