@{
}
<h1 class="">
    About IntelRobotics
</h1>
<br />
<div class="container">
    <h1>Who are we?</h1>
    <div>
        <h5>IntelRobotics is a company that is based in Esbjerg and this as offices there.</h5>
        <br/>
        <h5>
        Since the establishment in 2013, we have grown significantly, and today we have more than 300 dedicated employees over the world. The background for the growth lies especially in our high professionalism combined with a focused effort to make flexible automation accessible to all types of companies.
        </h5>
        <br />
    </div>
</div>
<br/>
<div class="container" >
    <h1>What do we offer?</h1>
    <div>
        <h5>
            IntelRobotics delivers complete automation solutions across many industries. We focus on flexible automation, which ensures short changeover times and increased collaboration opportunities between robots and humans. We deliver both self-developed standard solutions and customized solutions developed in close collaboration with our customers.
        </h5>
    </div>
    <br />
    <div>
        <h5>
            IntelRobotics is also a technology house acting as a development partner – we develop, test new technologies, test concepts, develop prototypes and inspire our customers in relation to future opportunities.
        </h5>
    </div>
    <br />
    <div>
        <h5>
            IntelRobotics is one of Denmark and Japan leading suppliers of loose components for robot technology. Whether it is robots, platforms, grippers, vision, safety components or software, we can deliver this from our “one stop shop” concept – see more under Products on this page.
        </h5>
    </div>  
    <br />

</div>
